{
  "bracketSameLine": true,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "printWidth": 80,
  "quoteProps": "consistent",
  "semi": false,
  "singleQuote": true,
  "svelteAllowShorthand": true,
  "svelteIndentScriptAndStyle": false,
  "svelteSortOrder": "options-scripts-markup-styles",
  "svelteStrictMode": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "useTabs": false
}
