:root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  font-size: var(--fs);
}

body {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--bg1);
}

input:focus {
  outline-style: solid;
  outline-color: $A400;
  outline-width: 2px;
}

button,
input {
  padding: var(--pad);
  min-height: calc((var(--fs) * 2) - 1px);
}

checkbox-grid {
  display: grid;
  grid-template-columns: calc(var(--fs) * 1.25 + var(--pad)) auto;
}

radio-grid {
  display: grid;
  grid-template-columns: calc(var(--fs) * 1.25 + var(--pad)) auto;
}

input[type='checkbox'],
input[type='radio'] {
  padding: 0;
}

input[type='checkbox'] {
  margin: 0;
  width: calc(var(--fs) * 1.25);
  height: calc(var(--fs) * 1.25);
}

input[type='radio'] {
  margin: 0;
  width: calc(var(--fs) * 1.25);
  height: calc(var(--fs) * 1.25);
}

button,
input[type='button'],
input[type='submit'] {
  background-color: $A600;
  color: white;
  padding-block: calc(var(--pad) * 1);
  padding-inline: calc(var(--pad) * 2);
}

input[type='checkbox']:checked::after {
  color: $A600;
}

input[type='radio']:checked::after {
  background-color: $A600;
  border-color: $A600;
}

a:hover,
button:hover,
input[type='button']:hover,
input[type='submit']:hover {
  filter: brightness(1.1) saturate(0.9) hue-rotate(2.5deg);
}

a:active,
button:active,
input[type='button']:active,
input[type='submit']:active {
  filter: brightness(1.2) saturate(0.9) hue-rotate(2.5deg);
}

:root :disabled,
:root :disabled:hover,
:root :disabled:active {
  background-color: #ddd;
  color: #999;
  filter: brightness(1) saturate(1) hue-rotate(0deg);
}

.padded {
  padding: var(--pad);
}

::selection {
  background-color: rgba($color: $B300, $alpha: 0.4);
}

ul,
ol {
  padding-block-start: 0px;
  padding-block-end: 0px;
  padding-inline-start: 10px;
}

li::marker {
  font-size: 0;
}

grid-row-sizer,
grid-col-sizer {
  border-color: $Y300;
  border-width: 1px;
  z-index: 21;
}

grid-row-sizer.border {
  // border-block-end-style: solid;
}

grid-col-sizer.border {
  // border-inline-end-style: solid;
}

:root[dragging='false'] grid-row-sizer {
  cursor: row-resize;
}

:root[dragging='false'] grid-col-sizer {
  cursor: col-resize;
}

.table grid-row-sizer,
.table grid-col-sizer {
  border-color: $Y800;
  border-width: 1px;
  z-index: 21;
}

.table grid-row-sizer {
  // border-block-end-style: solid;
}

.table grid-col-sizer {
  // border-inline-end-style: solid;
}

grid-row-sizer,
grid-col-sizer {
  transition: background-color 0.125s linear;
}

.table grid-row-sizer,
.table grid-col-sizer {
  background-color: transparent;
}

grid-row-sizer:hover,
grid-row-sizer:active,
grid-col-sizer:hover,
grid-col-sizer:active {
  background-color: rgba($color: $A400, $alpha: 0.35);
}

.collapsed grid-row-sizer {
  border-block-end-style: none;
}

.collapsed grid-col-sizer {
  border-inline-end-style: none;
}

.collapsed grid-row-sizer:hover,
.collapsed grid-row-sizer:active,
.collapsed grid-col-sizer:hover,
.collapsed grid-col-sizer:active {
  background-color: rgba($color: $B400, $alpha: 0.35);
}

mark {
  background-color: yellow;
}

// .drag-target.drag-item-hovering {
//   background-color: rgba($color: $B400, $alpha: 0.35);
// }

.placeholder {
  margin: auto;
  background-color: transparent;
  align-content: center;
  text-align: center;
}
