::-webkit-scrollbar {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  cursor: inherit;
  padding: 0;
  margin: 0;

  color: unset;
  background-color: unset;

  text-align: unset;
  text-decoration: unset;

  border-style: unset;
  border-width: 1px;
  border-color: unset;

  outline-style: unset;
  outline-width: 1px;
  outline-color: unset;
  outline-offset: unset;

  font-size: unset;
  font-family: unset;
  font-stretch: unset;
  font-style: unset;
  font-variant: unset;
  font-weight: unset;
  line-height: unset;

  overscroll-behavior-x: none;
  overscroll-behavior-y: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  // -webkit-appearance: none;
  // -moz-appearance: none;
  // appearance: none;
}

:root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

body {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

// ----------------------------------------------------------------------------

:root {
  font-family:
    'SF Pro Text',
    Ubuntu,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  --fs: 12px;
  --pad: 3px;

  font-size: var(--fs);
}

// ----------------------------------------------------------------------------

.table-height-container {
}

:root .table-container {
  overflow-x: scroll;
  overflow-y: scroll;
}

:root[dragging='true'] .table-container {
  overflow-x: hidden;
  overflow-y: hidden;
}

.cell {
  padding-inline-start: calc(var(--pad) * 1);
  padding-block-start: calc(var(--pad) * 1 / 2);
  pointer-events: none;
}

.cell.checkbox {
  padding-inline-start: 0;
  padding-block-start: 0;
  pointer-events: all;
}

.cell.checkbox > input {
  width: var(--fs);
  height: var(--fs);
  margin-inline-start: calc(var(--pad) * 1 - 0.5px);
  margin-block-start: calc(var(--pad) * 1 - 0.5px);
}

.cell.numeric {
  padding-inline-end: calc(var(--pad) * 1);
  text-align: right;
}

.cell.numeric.collapsed {
  color: transparent;
}

.row-h,
.row-f {
  background-color: rgba($color: black, $alpha: 0.75);
  color: honeydew;
  font-weight: 500;
  z-index: 20;
}

.row-b {
  font-family: 'SF Pro Mono', 'JetBrains Mono', 'Courier New', monospace;
  z-index: 20;
}

.row-b:hover {
  background-color: rgba($color: gold, $alpha: 0.35);
}

.selected-row {
  background-color: rgba($color: khaki, $alpha: 0.2);
}

.active-row,
.active-row:hover {
  background-color: rgba($color: dodgerblue, $alpha: 0.15);
}

.col-tools {
  transition: background-color 0.15s linear;
  border-radius: calc(var(--pad) / 2);
}

.col-tools.sorting {
  color: yellow;
}

.col-tools:hover {
  background-color: rgba($color: white, $alpha: 0.35);
  color: yellow;
}

.col-tools:hover::before {
  content: 'sort';
  position: absolute;
  display: block;
  font-size: 0.7rem;
  left: 0;
  right: 0;
  text-align: center;
}

.col-tools.sorting:hover::before {
  content: none;
}

// ----------------------------------------------------------------------------

.layout {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.head,
.foot {
  z-index: 40;
}

.head {
  background-color: ghostwhite;
}

.foot {
  background-color: ghostwhite;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}

// ----------------------------------------------------------------------------

.nav-main.tab-nav {
  display: flex;
  flex-direction: row;
  border-bottom-style: solid;
  // padding-inline-end: calc(var(--pad) * 3);
  height: calc(1px + var(--fs) + var(--pad) * 5);
  min-height: calc(1px + var(--fs) + var(--pad) * 5);
}

// .nav-main.tab-nav > a {
// }

.nav-main.tab-nav > a > div {
  background-color: aliceblue;
  display: flex;
  align-items: center;
  border-left-style: solid;
  padding-inline: calc(var(--pad) * 3);
  height: 100%;
}

.nav-main.tab-nav > a:last-of-type > div {
  // border-right-style: solid;
  // padding-inline-end: calc(2px + var(--pad) * 3);
}

// .nav-main.tab-nav > a > div > svg {
// }

.nav-main.tab-nav > a > div > span {
  margin-left: var(--pad);
  transition:
    font-size 200ms ease-in-out,
    margin 100ms ease-in-out;
}

// .nav-main.tab-nav > a:hover > div {
// }

// .nav-main.tab-nav > a:hover > div > svg {
// }

// .nav-main.tab-nav > a:hover > div > span {
// }

.nav-main.tab-nav > a[aria-current='true'] > div {
  background-color: white;
}

.nav-main.tab-nav > a[aria-current='true'] > div > svg {
  color: cadetblue;
}

// .nav-main.tab-nav > a[aria-current='true'] > div > span {
// }

:root[chrome-nav-main-left-spacer-nav-collapsed='true'] {
  .nav-main.tab-nav > a > div > span {
    font-size: 0;
    margin-left: 0;
  }
}

// ----------------------------------------------------------------------------

.status-bar {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  border-top-style: solid;
  padding-inline: calc(var(--pad) * 3);
  text-wrap: nowrap;
  min-height: calc(1px + var(--fs) + var(--pad) * 5);
  height: calc(1px + var(--fs) + var(--pad) * 5);
}

.status-bar-left {
  text-align: left;
  margin-block: auto;
}

.status-bar-center {
  text-align: center;
  margin-block: auto;
}

.status-bar-right {
  text-align: right;
  margin-block: auto;
}

// ----------------------------------------------------------------------------
